<div class="recent-meetings">
<h3>📅 Reuniões Recentes</h3>
<ul class="meeting-list">
  <li class="meeting-item">
    <a href="/reunioes/2025-09-01-reuniao-analise-pessimista-projetos/">2025-09-01-Reuniao-Analise-Pessimista-Projetos</a>
    <span class="meeting-date">01/09/2025</span>
  </li>
  <li class="meeting-item">
    <a href="/reunioes/2025-09-01-reuniao-criacao-sistema-geracao-ideias/">2025-09-01-Reuniao-Criacao-Sistema-Geracao-Ideias</a>
    <span class="meeting-date">01/09/2025</span>
  </li>
  <li class="meeting-item">
    <a href="/reunioes/2025-09-01-reuniao-criacao-projeto-whatsbot/">2025-09-01-Reuniao-Criacao-Projeto-WhatsBot</a>
    <span class="meeting-date">01/09/2025</span>
  </li>
  <li class="meeting-item">
    <a href="/reunioes/2025-08-31-reuniao-executiva-sistema/">2025-08-31-Reuniao-Executiva-Sistema</a>
    <span class="meeting-date">30/08/2025</span>
  </li>
</ul>
</div>